.header {
  padding-top: 37px;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu {
    margin: 0 auto;
    font-size: 24px;

    &-list {
      display: flex;
      align-items: center;
    }

    &-link {
      height: 69px;
      display: inline-flex;
      align-items: center;
      padding-inline: 20px;
      text-transform: uppercase;
      background-color: var(--color-accent);

      &:hover {
        width: 100%;
        background-color: var(--color-accent-dark);
      }
    }
  }

  &__button {
    @include reset-button;

    width: 100%;
    height: 69px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    color: var(--color-accent);
    cursor: pointer;

    &:hover {
      color: var(--color-white);
    }

    &-icon {
      display: block;
      font-size: 24px;
      line-height: 1;
    }
  }

  &__burger-button {
    @include reset-button;

    position: relative;
    width: 44px;
    aspect-ratio: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    background-color: var(--color-accent);
    cursor: pointer;
  }

  &__burger-line,
  &__burger-button::before,
  &__burger-button::after {
    width: 24px;
    height: 2px;
    background-color: var(--color-dark);
  }

  &__burger-line {
    display: block;
  }

  &__burger-button::before,
  &__burger-button::after {
    content: '';
    position: absolute;
    left: 50%;
    translate: -50% 0;
  }

  &__burger-button::before {
    top: 13px;
  }

  &__burger-button::after {
    bottom: 13px;
  }

  @include tablet {
    &__menu {
      width: 100%;
      margin: 0;
      font-size: 18px;

      &-list {
        width: 100%;
      }

      &-item {
        flex: 1;
      }

      &-link {
        width: 100%;
        height: 56px;
        justify-content: center;
        padding-inline: 12px;
      }
    }

    &__button {
      width: 56px;
      height: 56px;
      flex-shrink: 0;
    }
  }
}
