:root {
  --color-accent: #c0e00b;
  --color-accent-dark: #879d08;
  --color-dark: #161616;
  --color-white: #ffffff;

  --border: 1px solid #dcdcdc;

  --font-family-base: 'Gilroy', sans-serif;

  --transition-duration: 0.2s;

  --container-width: 1240px;
  --container-padding-x: 20px;

  --button-height: 50px;
}
